/*common*/
*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    background-color: rgba(255, 255, 255, .6);
}

/*todolist*/
.todoList {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
}

.title {
    margin: 0;
    font-size: 100px;
    font-weight: 400;
    text-align: center;
    color: rgba(175, 47, 47, 0.15)
}

.todoapp{
    background: #fff;
    position: relative;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%), 0 25px 50px 0 rgb(0 0 0 / 10%);
}

.add-todo {
    width: 100%;
    font-size: 24px;
    padding: 16px 16px 16px 60px;
    border: none;
    background: rgba(0, 0, 0, 0.003);
    box-shadow: inset 0 -1px 5px 0 rgb(0 0 0 / 20%);
}

.add-todo::placeholder{
    color: rgba(100, 100, 100, 0.3);
}

.add-todo:focus{
    outline: none;
}

/* footer */
.footer{
    color: #777;
    padding: 10px 15px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #e6e6e6;
}

.filterList{
    margin: 0;
}

.filterValue{
    text-decoration: none;
    display: inline;
}

.filterValue a{
    color: rgba(100, 100, 100, 0.8);
    margin: 3px;
    padding: 3px 7px;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 3px;
}

.filterValue a:hover {
    border-color: rgba(175, 47, 47, 0.1);
}

.filterValue a.selected {
    border-color: rgba(175, 47, 47, 0.2);
}

#clearButton{
    float: right;
    color: rgba(100, 100, 100, 0.8);
    text-decoration: none;
    cursor: pointer;
    background: none;
    border: none;
}

#clearButton:hover{
    text-decoration: underline;
}


