/*common*/
*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    background-color: rgba(255, 255, 255, .6);
}

button {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    font-size: 100%;
    vertical-align: baseline;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
    -webkit-appearance: none;
    appearance: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*todolist*/
.app {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
}

.title {
    margin: 0;
    font-size: 100px;
    font-weight: 400;
    text-align: center;
    color: rgba(175, 47, 47, 0.15)
}

.todoapp {
    background: #fff;
    position: relative;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%), 0 25px 50px 0 rgb(0 0 0 / 10%);
}

.add-todo {
    width: 100%;
    font-size: 24px;
    padding: 16px 16px 16px 60px;
    border: none;
    background: rgba(0, 0, 0, 0.003);
    box-shadow: inset 0 -1px 5px 0 rgb(0 0 0 / 20%);
}

.add-todo::placeholder {
    color: rgba(100, 100, 100, 0.3);
}

.add-todo:focus {
    outline: none;
}

/* main */
.main {
    position: relative;
    z-index: 2;
    border-top: 1px solid #e6e6e6;
}

.toggle-all {
    width: 1px;
    height: 1px;
    border: none;
    opacity: 0;
    position: absolute;
    right: 100%;
    bottom: 100%;
}

.toggle-all + label {
    width: 60px;
    height: 34px;
    font-size: 0;
    position: absolute;
    top: -50px;
    left: -10px;
    transform: rotate(90deg);
}

.toggle-all + label:before {
    content: '❯';
    font-size: 22px;
    color: #e6e6e6;
    padding: 10px 27px 10px 27px;
}

.toggle-all:checked + label:before {
    color: #737373;
}

.todoItems{
    margin: 0;
    padding: 0;
    list-style: none;
}

.todoItems li:last-child {
    border-bottom: none;
}

.todoItems li {
    position: relative;
    font-size: 24px;
    border-bottom: 1px solid #ededed;
}

.toggle{
    opacity: 0;
}

.toggle {
    text-align: center;
    width: 40px;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    border: none;
    appearance: none;
}

.toggle + label {
    background-image: url(assets/images/notDone.svg);
    background-repeat: no-repeat;
    background-position: center left;
}

.todoItems li label {
    word-break: break-all;
    padding: 15px 15px 15px 60px;
    display: block;
    line-height: 1.2;
    transition: color 0.4s;
}

.toggle:checked + label {
    background-image: url(assets/images/done.svg);
}

.todoItems li.completed label {
    color: #d9d9d9;
    text-decoration: line-through;
}

.destroy {
    display: none;
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    width: 40px;
    height: 40px;
    margin: auto 0 11px;
    font-size: 30px;
    color: #cc9a9a;
    transition: color 0.2s ease-out;
}

.todoItems li:hover .destroy {
    display: block;
}

.destroy:after {
    content: '×';
}

/* footer */
.footer {
    color: #777;
    padding: 10px 15px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #e6e6e6;
}

.filterList {
    margin: 0;
}

.filterValue {
    text-decoration: none;
    display: inline;
}

.filterValue a {
    color: rgba(100, 100, 100, 0.8);
    margin: 3px;
    padding: 3px 7px;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 3px;
}

.filterValue a:hover {
    border-color: rgba(175, 47, 47, 0.1);
}

.filterValue a.selected {
    border-color: rgba(175, 47, 47, 0.2);
}

#clearButton {
    float: right;
    color: rgba(100, 100, 100, 0.8);
    text-decoration: none;
    cursor: pointer;
    background: none;
    border: none;
}

#clearButton:hover {
    text-decoration: underline;
}


